.frame {
    background-color: transparent;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    height: 100%
  }
  
  .frame .macbook-air-wrapper {
    height: 1000px;
    width: 2040px;
  }
  
  .frame .macbook-air {
    background-image: linear-gradient(rgba(0, 0, 0, 0.80), rgba(0, 0, 0, 0.80)), url(app/_54ff3dc0-4820-4bb9-b1e8-92065b444aad.jpeg);
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
}
 
  
  .frame .overlap {
    background-image: url(/Users/nikhilmukherjee/Group_07_Project_CS320/landing_page_images/healthy-and-vegetarian-food-pattern-in-green-background-vector.jpg);
    background-position: 50% 50%;
    background-size: cover;
    height: 100%;
    left: 0;
    position: absolute;
    top: 85px;
    width: 100%;
  }
  
  .frame .logo-transparent-png {
    height: 490px;
    left: 200px;
    object-fit: cover;
    position: absolute;
    top: 112px;
    width: 455px;
  }
  
  .frame .text-wrapper {
    color: #66D6A2;
    font-family: "Inika-Bold", Helvetica;
    font-size: 35px;
    font-weight: 700;
    left: 900px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 160px;
    width: 627px;
  }
  
  .frame .welcome-to-prep-pal {
    color: rgb(9, 159, 56);
    font-family: "Inika-Bold", Helvetica;
    font-size: 20px;
    font-weight: 700;
    left: 900px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 273px;
    width: 593px;
  }
  
  .frame .overlap-group {
    height: 85px;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
  }
  
  .frame .rectangle {
    background-color: #22b82285;
    height: 85px;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
  }
  
  .frame .icon {
    height: 39px;
    left: 1600px;
    object-fit: cover;
    position: absolute;
    top: 17px;
    width: 38px;
  }
  
  .frame .element {
    height: 42px;
    left: 1500px;
    object-fit: cover;
    position: absolute;
    top: 17px;
    width: 30px;
  }
  
  .frame .div {
    color: #000000;
    font-family: "Inika-Bold", Helvetica;
    font-size: 16px;
    font-weight: 700;
    left: 1087px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 53px;
    width: 119px;
  }
  
  .frame .text-wrapper-2 {
    color: #000000;
    font-family: "Inika-Bold", Helvetica;
    font-size: 16px;
    font-weight: 700;
    left: 1197px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 53px;
    white-space: nowrap;
    width: 119px;
  }
  
  .frame .logo-transparent-svg {
    height: 46px;
    left: 25px;
    position: absolute;
    top: 15px;
    width: 172px;
  }
  